<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>位置情報を取得するために使用します。</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>バックグラウンドでも位置情報を取得するために使用します。</string>
        <key>NSMotionUsageDescription</key>
        <string>気圧を取得して現在地の情報を正確に把握するために使用します。</string>
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>Bluetoothを使用してビーコンを検出し、位置情報の精度を向上させます。</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>Bluetoothを使用してビーコンを検出します。</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>arta.exp.mnb.ees.saitama-u.ac.jp</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                    <true/>
                    <key>NSTemporaryExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                </dict>
            </dict>
        </dict>

        
    </dict>


</plist>
